@mixin container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

body{
    margin:0 auto;
    padding: 0 auto;
    background-color: black;
    font-family: 'Saira', sans-serif;
}
main{
    width:800px;
    height: 600px;
    margin: 0 auto;
    background-color:lightgreen
}
.welcome{
    @include container;
    h1{
        margin-top: 200px
    }
    #name{
        font-size: 24px;
        border: none;
        border-bottom: 2px black solid;
        background-color: azure;
        text-align: center;
        outline: none;
    }
    #btn-new{
        margin-top: 20px;
        background-color: lightyellow;
        border: none;
        font-size: 24px;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 1px grey;
        transition: all 0.2s;
        &:hover{
            cursor: pointer;
            transform: translateY(-5px);
            background-color: aqua;
        }
        &:active{
            color: red
        }
    }
}
.game-screen{
    @include container;
    display: none;
    justify-content: center;
    .player-info{
        display: flex;
        width: 60%;
        justify-content: space-around;
    }
    .game-area{
        display: flex;
        width:80%;
        justify-content: center;
        align-items: center;
        .player-area{
            @include container;
            background-color: rgb(173, 224, 230);
            width:45%;
            height:300px;
            flex-wrap: wrap;
            border: black 10px solid;
            border-radius: 20px;
            margin-right: 20px;
            .select-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .player-select{
                    width: 100px;
                    margin: 5px;
                &:hover,:active{
                    cursor: pointer;
                    transform: translateY(-5px)
                }
            }
            }
        }
        .computer-area{
            @include container;
            background-color: rgb(173, 224, 230);
            flex-wrap: wrap;
            width:45%;
            height:300px;
            border: black 10px solid;
            border-radius: 20px;
            .computer-select{
                width: 150px;
            }
        }
    }
    
}